.App {
  text-align: center;
}

h2.question {
  font-size: 22px;
}

button.answerBtn {
  display: block;
  margin: 0 auto;
  width: 200px;
  background: green;
  color: white;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
}

button.answerBtn:hover {
  opacity: 0.8;
}

.scoreWrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #f5f5f5;
  text-align: center;
}

h3.correct {
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em;
}

h3.incorrect {
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em;
}

h2.userGreeting {
  font-size: 18px;
  color: blue;
}